<!DOCTYPE html>
<html>

<head>
    {% if pk %}
    <title>Logs for Bot {{pk}}</title>
    {% else %}
    <title>Logs for {{ user.username }}</title>
    {% endif %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container justify-content-between">
            <!-- User Information -->
            <a href="{% url 'view_all_dca_settings' %}" class="navbar-brand">
                Welcome, {{ user.username }} <!-- Replace with actual user information -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- If user is admin, show admin button -->
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'user_specific_text' %}" class="nav-link">Check Logs</a>
                        <!-- Check Logs button -->
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account_settings' %}" class="nav-link">Account Settings</a>
                        <!-- Account settings button -->
                    </li>
                    <li class="nav-item">
                        <!-- Logout Button -->
                        <a href="{% url 'logout' %}" class="nav-link text-danger">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- Content here -->
        <h1 class="mt-4">Logs</h1>
        </li>
        <!-- Display user-specific text content -->
        <p>{{ user_text | safe }}</p>
        {% if pk %}
        <form method="post" action="{% url 'bot_specific_specific' pk=pk %}">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-danger">Clear Bot {{pk}}'s Logs</button>
            <!-- Clear Logs button -->
        </form>
        {% else %}
        <form method="post" action="{% url 'user_specific_text' %}">
            {% csrf_token %}
            <button type="submit" class="nav-link btn btn-danger">Clear All Logs</button> <!-- Clear Logs button -->
        </form>
        {% endif %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>